header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ebf8cbf3;
    color:black;
    
}
img{
    padding: 15px;
    justify-self: unset;

}
nav{
    background-color:#f4a300;
    color: white ;
  
}

aside{
    background-color: blue;
    grid-column:4/5 ;
    padding: 10px;
}

section{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-column:1/8;
   background-color: #d4fff9;
}

footer{
    background-color: #E6CCA9;
    color: black;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}
article{
    background-color: #0eb0f0;
    color: black;
    padding: 15px;
    justify-self: unset;
    grid-column:2/4;

}

@media screen and (max-width: 768px){
    header{
        flex-direction: column; 
    } 
    article{
        flex-direction: column;
    }
    section{
        flex-direction: column;
    }

}
@media screen and (min-width: 576px){
    header{
        flex-direction: column; 
    } 
    article{
        flex-direction: column;
    }
    section{
        flex-direction: column;
    }

}
@media screen and (max-width: 1400px){
    header{
        flex-direction: column; 
    } 
    article{
        flex-direction: column;
    }
    section{
        flex-direction: column;
    }

}
body { font-size: 14px; }

@media (min-width: 992px) {
    body { font-size: 16px; }
}