header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7B113A;
    color: bisque;
    
}
img{
    padding: 10px;

}
nav{
    background-color:#f4a300;
    color: white ;
  
}

aside{
    background-color: blue;
    grid-column:4/5 ;
    padding: 10px;
}

section{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
   grid-column:1/4 ;
   background-color: #d4fff9;
}

footer{
    background-color: #E6CCA9;
    color: black;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}